h1 {
    font-size: 100px;
    color: rgb(89, 89, 89);
    text-align: center;
    position: relative;
    top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-style: italic;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    color: rgb(217, 55, 55);
    text-align: center;
    position: relative;
    top: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.pig {
    height: 80px;
    position: relative;
    top: 20px;
}

.recipes {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index-recipe {
    object-fit: cover;
    width: 70%;
    height: 250px;
}

.recipe-img {
    object-fit: cover;
    width: 70%;
    height: 500px;
}

p {
    text-align: center;
    font-style: italic;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    position: relative;
    top: -10px;
}

li {
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
